[Desktop Entry]
Name=DuploQ
Version=1.0
Exec=duploq
Comment=Duplo GUI Frontend
Icon=/usr/share/duploq/duploq.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Development;Qt;Utility;